<md-content class="home">
  <section class="titles">
    <h1>Products</h1>
    <h2>Wet food that tastes homemade.</h2>
  </section>
  <section ng-repeat="product in products">
    <div class="title">
      <h3>{{product.title}}</h3>
      <h6 id="{{product.id}}">{{product.id}}</h6>
      <span class="price">{{product.price}}</span>
    </div>
    <div class="call-to-action">
      <img src="{{product.image}}">
      <button id="{{product.id}}" data="{{product.id}}" ng-click="addToCart($event)">Add to cart</button>
    </div>
    <p class="description">{{product.description}}</p>
  </section>

  <section>
  <div class="call-to-action">
    <a href="/checkout">Go to Checkout</a>
  </div>
</section>
</md-content>
