/******************************************************************

 Variables

******************************************************************/

$primary: #29B94F;
$secondary: #2C3E50;
$call-to-action: #E74C3C;
$white: #fff;